/*------------BASIC-------------*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    background-color: #dddddd;
}

/*------------HEADER-------------*/

header {
    position: fixed;
    top: 0;
    background-color: #222831;
    width: 100vw;
    height: 3.5rem;
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
    transition: all 1s ease-in;
}

.active {
    background: whitesmoke;
    color: black;
    padding: 2rem;
    font-size: 1.5rem;
    transition: all 1s ease-in;
}

.logo{
    width: 50%;
    
}

.logo-text{
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li{
    display: inline-block;
    position: relative;
}


header nav ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0px;
    height: 1px;
    background: #f05454;
    transition: all 0.45s ease-in;
}

header nav ul li:hover:after{
    width: 99%;
    left: 0;
    transition: all .45se ease-in;
}

header nav{
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 .50rem;
}


/*------------ABOUT-------------*/
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin:content-box;
    background-position: center;
    position: relative;
}
main *{
    z-index: 2;
}

main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(48, 71, 94, .9);
    width: 100%;
    height: 100%;
}

main h1{
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: .5rem;
    animation: grow_up 1s linear .3s 1 backwards ;
}

main h1 span{
    margin-top: .4rem;
    display: block;
    background: #f05454;
    color: white;
    width: 20rem;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 auto;
    width: 15rem;
}

main p {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-top: .4rem;
    color:white;
    display: inline-block;
    position: relative;
    animation: grow_up 1s linear .7s 1 backwards ;
}

main p::after{
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    left: -1px;
    background-color: #f05454;
}

/*------------WORK-------------*/

section#work {
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #222831;
}

section#work .title-container{
    background: #f05454;
    width: 15rem;
    transform: skewX(-18deg)
}

section#work .title-container h1 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    transform: skewX(18deg);
    text-align: center;
}

section#work .container-project{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-height: 25rem;
    justify-content: center;
    padding: 0.75rem 1.4rem;
    overflow: auto;
}

section#work .container-project .card-project{
    border: 1px solid white !important;
    flex-basis: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0;
    height: 20rem;
    position: relative;
}


section#work .container-project .card-project * {
    z-index: 2;
}


section#work .container-project .card-project::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

section#work .container-project .card-project p.title{
    position: absolute;
    top: 30%;
    display: block;
    background: white;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}

section#work .container-project .card-project .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .65rem 1.2rem;
}

section#work .container-project .card-project .info p{
    color: #f05454;
    font-size: 1.2rem;
    text-transform: uppercase;
}

section#work .container-project .card-project .info a{
    text-transform: uppercase;
    color: white;
    transition: all .5s ease-in;
}

section#work .container-project .card-project .info a:hover{
    color: #f05454;
    transition: all .5s ease-in;
}

/*------------FOOTER-------------*/
footer {
    background: #f05454;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 2rem;
}

footer h2{
    width: 50%;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 300;
}

footer nav ul li{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 300;
}

/*------------MEDIA QUERY-------------*/

@media only screen and (min-width:768px) {
    header {
        padding: 2rem;
    }

    .active{
        padding: 2.5rem;
    }

    .logo .logo-text{
        font-size: 2.6rem;
    }

    header nav ul li{
        margin: 0 1rem;
        font-size: 1.5rem;
    }

    main h1 {
        font-size: 3.5rem;
    }

    main h1 span{
        width: 22rem;
    }

    main p {
        font-size: 2.4rem;
    }
    section#work .container-project {
        justify-content: flex-start;
    }
    section#work .container-project .card-project{
        flex-basis: 35%;
    }

    section#work .title-container h1{
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1024px){
    haeder {
        padding: 3rem;
    }

    .logo .logo-text {
        font-size: 3rem;
    }

    header nav ul li{
        font-size: 1.8rem;
    }

    section#work .container-project .card-project{
        flex-basis: 25%;
    }

}


/*------------ANIMATION-------------*/

@keyframes grow_up {
    0% {
        transform: scale(0);
    }

    50%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }

}