/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

:root {
  --background-color: #fdf0d5;
  --main-color: #283618;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background-color, #fdf0d5);
  box-sizing: border-box;
}

/* Header */
header {
  /* background-color: var(--main-color); */
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  nav {
    div.menu-toggle {
      position: absolute;
      top: 24px;
      right: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30px;
      width: 34px;
      cursor: pointer;
      z-index: 3;
      span {
        height: 5px;
        width: 100%;
        background-color: var(--main-color);
        display: block;
        border-radius: 14px;
        position: relative;
        transition: all 0.4s ease-in;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 2px;
        }

        &:nth-child(3) {
          top: 4px;
        }
      }

      &:hover {
        span:nth-child(1) {
          transform: translateY(10px) translateX(0) rotate(45deg);
        }

        span:nth-child(2) {
          right: -90px;
          opacity: 0;
        }

        span:nth-child(3) {
          transform: translateY(-19px) translateX(22px) rotate(-45deg);
        }

        transition: all 0.4s ease-in;
      }

      &.active {
        span {
          background-color: var(--background-color);
        }
      }

      &.active:hover {
        span:nth-child(1) {
          transform: translateY(10px) rotate(-45deg);
        }
        span:nth-child(3) {
          transform: translateY(-19px) translateX(22px) rotate(45deg);
        }
      }
    }

    ul {
      position: absolute;
      background-color: var(--main-color);
      top: -120rem;
      right: 0;
      left: 0;
      height: 100dvh;
      align-items: center;
      gap: 3rem;
      transition: all 0.4s ease-in;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;

      &.active {
        top: 0;
      }

      li {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 2rem;
        color: #606c38;

        a {
          transition: all 0.4s ease-in;
          display: inline-block;
          transform-origin: center center;

          &:hover {
            transform: scale(1.2);
            transition: all 0.4s ease-in;
          }
        }
      }
    }
  }
}

/* MAIN */

main {
  width: 100%;
  padding: 3rem 1rem;
  max-width: 1024px;
  margin: auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 12rem; /* About */

  section#about {
    min-height: 75dvh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 1rem;
    position: relative;

    opacity: 0;
    transform: scale(0);
    animation: fade-in 1s 0.5s forwards;

    h1 {
      font-size: 2.8rem;
      color: #27272a;
      line-height: 5rem;
      span {
        background-color: var(--main-color);
        color: #fdf0d5;
        padding: 0.4rem;
        text-transform: capitalize;
      }
    }

    p {
      color: #27272a;
      font-size: 1.8rem;
      line-height: 4rem;
      span {
        position: relative;
        background-color: var(--main-color);
        padding: 0.4rem;
        color: var(--background-color);
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      object-fit: cover;
    }

    .down-btn {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 8.5rem;
      font-weight: bold;
      animation: bounce 1.3s ease-in infinite;
      cursor: pointer;
    }
  }

  /* Projects */
  section#projects {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3.title-section {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--main-color);
    }

    .projects-container {
      display: flex;
      flex-direction: column;
      gap: 21px;

      .project-info {
        border-radius: 14px;
        width: 100%;
        height: 400px;
        padding: 1rem;
        border: 1px solid var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        overflow: hidden;

        .project-title {
          text-transform: uppercase;
          font-size: 3rem;
          color: var(--main-color);
        }

        .project-description {
          font-size: 1.4rem;
          text-align: justify;
          line-height: 18px;
        }

        .project-techs {
          display: flex;
          align-items: center;
          overflow-x: auto;
          gap: 10px;
          width: 90%;

          .project-tech {
            background-color: var(--main-color);
            color: var(--background-color);
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            border-radius: 1.4rem;
          }
        }

        .project-links {
          display: flex;
          align-items: center;
          gap: 10px;

          .project-link {
            background-color: var(--background-color);
            color: var(--main-color);
            font-weight: 600;
            border: 1px solid var(--main-color);
            padding: 0.4rem 1rem;

            transition: all 0.3s ease-in;
            &:hover {
              background-color: var(--main-color);
              color: var(--background-color);
              transition: all 0.3s ease-in;
            }
          }
        }
      }
    }
  }
}

/* Animation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }

  55% {
    opacity: 0.7;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    bottom: 1rem;
  }

  55% {
    bottom: 0rem;
  }

  100% {
    bottom: 1rem;
  }
}
